/*转义(Escaping)*/
@import "typo.css";
.component {
  width: 31px;
}
@media (min-width:768px) {
  .component {
    width: 31px;
  }
}
@media (min-width:768px) and (min-resolution: 192dpi) {
  .component {
    background-color: aliceblue;
  }
}
@media (min-width: 1290px) {
  .component {
    width: 1;
  }
}
.mian {
  background-color: antiquewhite;
}
#menu a {
  color: aqua;
  background-color: antiquewhite;
}
#back li {
  background-color: antiquewhite;
  font-size: 10px;
}
.clearfix {
  display: inline;
  zoom: normal;
}
.clearfix::after {
  content: "";
  display: block;
}
#page #title {
  background-color: orange;
}
/*符号运算(Operations)*/
/*Calc案例*/
/*映射*/
.button {
  color: blue;
  border: solid 1px red;
}
/*导入(import)*/
