html,
body {
  padding: 0;
  margin: 0;
  font-family: "PingFang SC";
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #2f3542;

}

.button-wraper {
  position: relative;
  width: 240px;
  height: 60px;
  text-align: center;

}

.ratetangle {
  stroke-width: 8px;
  fill: transparent;
  stroke: #ff6348;
  stroke-dasharray: 100 500;
  stroke-dashoffset: -372;
}


.btn {
  color: white;
  font-size: 18px;
  letter-spacing: 6px;
  position: relative;
  top: -48px;

}

@keyframes extend {
  to {
    stroke-dasharray: 600;
    stroke-dashoffset: 0;
    stroke-width: 2;

  }
}

.button-wraper:hover .ratetangle {
  animation: .5s extend linear forwards;
}